# My Data Science Final Project

This notebook demonstrates basic data science tools, libraries, and arithmetic examples using Python.

**Popular Data Science Languages:**
1. Python
2. R
3. SQL
4. Julia
5. Scala

**Common Data Science Libraries in Python:**
- NumPy
- Pandas
- Matplotlib
- Seaborn
- Scikit-learn

| Tool        | Purpose                       |
|------------|-------------------------------|
| Jupyter    | Interactive notebooks         |
| RStudio    | Data analysis in R            |
| VSCode     | Code editing                  |
| Tableau    | Data visualization            |
| GitHub     | Version control               |

**Examples of Arithmetic Expressions in Python**

In [1]:
a = 5
b = 10
c = 2

result = a * b + c
print("Result:", result)

Result: 52

In [2]:
minutes = 125
hours = minutes / 60
print(minutes, "minutes is", hours, "hours")

125 minutes is 2.0833333333333335 hours

**Objectives of this Notebook**
- Learn basic Python operations
- Understand Markdown formatting
- Explore Python arithmetic operations
- Practice using JupyterLite

**Author:** Arsh Aditey